<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Question Details</h4>
    <form [formGroup]="checkoutForm" (ngSubmit)="addQuestion(checkoutForm.value)" #myform="ngForm"  class="form form-register">
        <div class="row">
        <div class="col-md-6 mb-3">
          <label for="QID">Question ID</label>
          <input type="text" class="form-control" formControlName="QID" id="QID" [value]="questionModel.QID">
          <div class="invalid-feedback">        
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="QuestionText">Question Text</label>
          <input type="text" class="form-control" formControlName="QuestionText"  id="QuestionText" [value]="questionModel.QuestionText">
          <div class="invalid-feedback">           
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="QuestionHel">Question Help</label>
          <input type="text" class="form-control" formControlName="QuestionHelp"  id="QuestionHelp" [value]="questionModel.QuestionHelp">
          <div class="invalid-feedback">        
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="IsMultyAnsware">Is Multyselect</label>
          <input type="checkbox" class="form-control" formControlName="IsMultyAnsware"  id="IsMultyAnsware" [checked]="questionModel.IsMultyAnsware">
          <div class="invalid-feedback">           
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Answers:</label>
          <ng-container #singleAnswer *ngIf="!questionModel.IsMultyAnsware">
            <div *ngFor="let option of questionModel.Selection">
              <input formControlName="Selection" type="radio" name="Selection" [value]="option.OptionID" /> {{option.OptionText}}
            </div>
          </ng-container>
          <ng-container #multiAnswer *ngIf="questionModel.IsMultyAnsware">
            <div *ngFor="let option of questionModel.Selection">
              <input formControlName="Selection" type="checkbox" name="Selection" [value]="option.OptionID" /> {{option.OptionText}}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3"></div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary" type="submit">Cancle</button>
            <button class="btn btn-primary " type="submit">Save</button>
        </div>
      </div>
    </form>
    </div>






